<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Holy Sheep!</title>
<link rel="icon" href="/images/sheep_icon.jpeg">

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="/js/bundle.js"></script>
